.navbar_area{}
.navbar_area Nav {}
.navbar_area Nav Nav.Link{}
.button_login{
    background: none;
    border: 0;
    background: #FF6E40;
    padding-right: 10px;
    border-left: 10px;
    border-radius: 10px;
}