.form_all{
  border: 1px solid rebeccapurple;
  padding: 20px;
}
.account p {
  font-size: 20px;
  font-weight: 800;
}
.form-control{
  border: 0 !important;
  background: none !important;
  padding-left: 0 !important;

}
.form-control:focus {
  color: none !important;
  background-color: none !important;
  border-color: none !important;
  outline: 0 !important;
  box-shadow: none !important;
}
input{
  text-transform: capitalize;
}
.line{
  border-bottom: 1px solid gray;
  margin-bottom: 10px;
}
button, input{
  background: none;
  border: 0;
}
button.form-control.button {
  border: 1px solid #FF6E40 !important;
}
.button:hover{
  background: #FF6E40 !important;
  color: #ffff;
  transition: all .3s linear;
}
.or {
  font-family: sans-serif;
  color: #228B22;
  text-align: center;
  font-size: 30px;
  position: relative;
}
.or:before {
  content: "";
  display: block;
  width: 180px;
  height: 2px;
  background: #191970;
  left: 31%;
  top: 50%;
  position: absolute;
}
.or:after {
  content: "";
  display: block;
  width: 180px;
  height: 2px;
  background: #191970;
  right: 31%;
  top: 50%;
  position: absolute;
}
.new{
  background: #FF6E40 !important;
}
.new:hover{
  color: #ffff !important;
}